* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    width: 100%;
}

.menu-container {
    top: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(to right,
            #0f4b33 10%,
            #087a4b 35%,
            #01925d 50%,
            #117a4f 65%,
            #0f4b33 75%);
    background-size: 200%;
    animation: shine 6s linear infinite;
    position: fixed;
    width: 100%;
    height: 100px;
}

@keyframes shine {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}

.django-logo {
    font-size: 50px;
    font-weight: bold;
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.menu {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-icon {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu-items a {
    flex: 1 0 auto;
    padding: 15px;
    margin: 5px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: monospace;
    transition: opacity 250ms linear, transform 550ms linear;
}


.menu-items a:hover {
    opacity: 1;
    transform: scale(1);
}

.menu:hover a:not(:hover) {
    opacity: 0.25;
    transform: scale(0.95);
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    padding: 20px;

}

.slider-frame {
    width: 100%;
    height: 300px;
    margin: 0 auto 0;
    overflow: hidden;
    max-width: 800px;
}

.slider-frame .slider-image {
    margin-top: 64px;
    /*margen del nav*/
    width: 100%;
    height: 400px;
    max-height: 500px;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.image-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 100px;
    left: 20px;
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.feature {
    width: 100%;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.feature h2 {
    color: #a10980;
    text-shadow: -1px -1px 0 rgb(228, 152, 252),
        1px -1px 0 rgb(228, 152, 252),
        -1px 1px 0 rgb(228, 152, 252),
        1px 1px 0 rgb(228, 152, 252);
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
}

.feature p{
    color: #0a0a0a;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
}